<form action="/users/<%= user.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Username:</label>
    <input type="text" name="username" value="<%= user.username %>">
    <br>
    <label>Name:</label>
    <input type="text" name="name" value="<%= user.name %>">
    <br>
    <label>Email:</label>
    <input type="text" name="email" value="<%= user.email %>">
    <br>
    <label>Age:</label>
    <input type="text" name="age" value="<%= user.age %>">
    <br>
    <input type="submit" value="Save">
    <a href="/users">Cancel</a>
</form>
    